<%- include('partials/header') %>


<div class="centered">


    <h1 class="display-3 ">DOWNTOWN BOOKSTORE</h1>
    <p class="lead">DATABASE ENTRY POINT</p>
    <hr>

      <a class="btn btn-success btn-lg margin-button" href="/add-book" >Add Book</a>
      <a class="btn btn-outline-success btn-lg margin-button" href="/book-list" >Book List</a>




</div>

<%- include('partials/footer') %>
