
body {
    background-color:#DDE7EB;
  }
  .margin-button{
      margin: 35px;
  }
  h1{
      color: #1abc9c;
  }
  h2{
      color: rgb(55, 58, 9);
  }
  a{
    text-decoration: none;
    color: white
  }
  a:hover{
    text-decoration: none;
    color: white
  }
  .form-header{
      padding: 20px 10px  ;
  }

  .centered {
      padding-top: 150px;
      text-align: center;
  }
.footer-padding {
	padding-bottom: 140px;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #1abc9c;
    padding: 8px 0px;
    position: fixed;
left: 0;
bottom: 0;
}

.footer p {
	margin-top: 20px;
	font-size: 12px;
  color: #fff;
}
